
.container{
	width:100%;
	//margin: 0 auto;  //Center the  .containter
}
.content{
	padding: 15px;
}
//div{outline:2px solid red;}

h1 {
	color: red;
}
li{display: inline-block;}

.frontBG{}
.frontTextColor{}
.notFrontBG{}
.notFrontTextColor{}

/////////////////



// @font-face {
//     font-family: "Sancreek";
//     font-style: normal;
//     font-weight: 700;
//     src: url("../fonts/sancreek/sancreek-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sancreek/sancreek-regular-webfont.woff2") format("woff2"), url("../fonts/sancreek/sancreek-regular-webfont.woff") format("woff"), url("../fonts/sancreek/sancreek-regular-webfont.ttf") format("truetype"), url("../fonts/sancreek/sancreek-regular-webfont.svg#sancreekregular") format("svg");
// }
h1, h2, h3, h4, h5 {
    font-family: 'Sancreek', sans-serif;
    }
/* 3) Style icon font & snippets from much larger iconic.css */

@font-face {
  font-family: 'Material-Design-Iconic-Font';
  src: url('../fonts/Material-Design-Iconic-Font/Material-Design-Iconic-Font.woff2?v=2.1.0') format('woff2'), url('../fonts/Material-Design-Iconic-Font.woff?v=2.1.0') format('woff'), url('../fonts/Material-Design-Iconic-Font.ttf?v=2.1.0') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* sancreek-regular - latin */
@font-face {
    font-family: 'sancreekregular';
    src: url('../fonts/sancreek/sancreek-regular-webfont.eot');
    src: url('../fonts/sancreek/sancreek-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sancreek/sancreek-regular-webfont.woff2') format('woff2'),
         url('../fonts/sancreek/sancreek-regular-webfont.woff') format('woff'),
         url('../fonts/sancreek/sancreek-regular-webfont.ttf') format('truetype'),
         url('../fonts/sancreek/sancreek-regular-webfont.svg#sancreekregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* same? */
// @font-face {
//   font-family: 'Sancreek';
//   font-style: normal;
//   font-weight: 400;
//   src: url('../fonts/sancreek-v7-latin/sancreek-v7-latin-regular.eot'); /* IE9 Compat Modes */
//   src: local('Sancreek Regular'), local('Sancreek-Regular'),
//        url('../fonts/sancreek-v7-latin/sancreek-v7-latin-regular.eot?#iefix') format('embedded-opentype'), 
//        url('../fonts/sancreek-v7-latin/sancreek-v7-latin-regular.woff2') format('woff2'),
//        url('../fonts/sancreek-v7-latin/sancreek-v7-latin-regular.woff') format('woff'),
//        url('../fonts/sancreek-v7-latin/sancreek-v7-latin-regular.ttf') format('truetype'),
//        url('../fonts/sancreek-v7-latin/sancreek-v7-latin-regular.svg#Sancreek') format('svg');
// }

/* These BOOTSTRAP OVERRIDES */
.containerMenuOverride{
	padding-right: 0;
	padding-left: 0;
}
.navbar{
	margin-bottom: 0;
}
.navbar img{
	position: relative;
	bottom: -5px;
}
.row{
	margin-left: 0;
    margin-right: 0;
}
#site-wrapper>.row {
    background-color: #ffffff;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 0;
    padding-right: 0;
}
/* These zmdi OVERRIDES names are from the material design font stylesheet */
.zmdi {
  display: inline-block;
  font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

.zmdi-linkedin-box:before {
  content: '\f356';
}

.zmdi-github-box:before {
  content: '\f344';
}

.zmdi-twitter-box:before {
  content: '\f35f';
}

.zmdi-stack-overflow:before {
  content: '\f35c';
}
/* END iconic font styles taken from material-design-iconic-font.css */


html{
    //  1rem is now = 10px (for setting exact heights like 1.4REM = 14px)  
    font-size: 62.6%;    
}



body { 
//	text-align: center;
	//background-color: tan;
	color: #424136;
	background: url('../images/bg18.png') repeat;

	//margin: 0px;
    //padding: 0px;
    font-family: 'Roboto';   
    overflow-x: hidden;
}
#site-wrapper{
	width:100%;
	margin: 0 auto;
}
main{
	background-color: #ffffff;
		//float:left;
		width: 100%;
}
.clearBoth{
	clear: both;
}
#sidebar{  
	//background-color: tan;
	margin: 15px;
}
.bg {
  background: url('../images/circusTentTiltShift.png') no-repeat;
  position: fixed;
  top: 0px;
  z-index: -1;
  width: 100%;
  height: 36rem;
  background-size: 100% auto;
  background-position: center top;
}
.bg2 {
  background: url('../images/bg18.png') repeat;
  position: fixed;
  width: 100%;
  
  top: 0;
  left: 0;
  z-index: -2;
}
#title-box-bg header{
	display: none;
}
#title-box-bg {
    width: 100%;
}
#title-box {
    width: 100%;
    max-width: 601px;
    margin: 0 auto;
    }
#monkeyDiv {
  	display: table-cell;
  	//height: 100px;
  	width: 48%;
  	text-align: center;
  	// background: url('../images/UXmonkeyMask400.png') no-repeat;
   //      background-size: 100% auto;
   //      background-position: center top;
 }
 #monkey {
    width: 100%;
    max-width: 340px;
}
#tagline {
    vertical-align: middle;
    display: block;
    margin: 0 10px;
    position: relative;
    top: -20px;
    padding: 0 20px;
    color: #000000;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-style: italic;
    text-shadow: 2px 2px 12px #ffffff;
    letter-spacing: .5px;
    /*text-align: center;*/
    text-align: justify;
}
#tagline h1{
        display: block;
        padding-bottom: 10px;
}
#social_bar {
    width: 100%;
    text-align: right;
    position: relative;
    top: -5px;
    right: 20px;
}
#social_bar a {
    outline: none;
    text-decoration: none;
}
#social_bar i{
    font-size: 2.5rem;  /* to override .zmdi style in iconic font.css */
}
i {
    color: #B3AB87;
    position: relative;
    bottom: -3px;
    padding-left: 4px;
    cursor: pointer;
}
i:hover {
    color: #8F896B;
    text-shadow: 2px 2px 1px #B3AB87;
}
/*
#wrapper { display: block; border: 1px #a2a2a2 solid; width:90%; margin:0px auto; }
#header { border: 2px #a2a2a2 solid; }
#content { 
	//width: 75%; 
	border: 2px #a2a2a2 solid; 
	//float: left; 
	background-color: #ffffff;
}
#sidebar { width: 23%; border: 2px #a2a2a2 solid; float: right; }
#delimiter { clear: both; }
#footer { border: 2px #a2a2a2 solid; }
.title { font-size: 11pt; font-family: verdana; font-weight: bold; }
*/

h1 {
  font-family: 'sancreekregular', sans-serif;
  font-size: 2.2rem;
  color: #424136;
  padding: 0;
  text-align: center;
  margin: 0;
}
h3 {
  font-family: 'Roboto', sans-serif;
  height: 4.4rem;
  line-height: 4.4rem;
  font-size: 1.6rem;
  font-weight: 300;
  color: #ffffff;
  padding: 0 0 0 15px;
  margin: 0px;
  cursor: pointer;
  background-color: #8F080E;
  letter-spacing: 1px;
  /*border-bottom: 1px solid #6F0007;*/
}
h3:hover {
  font-weight: 400;
}


footer{
	background-color: #8F080E;
	color: #ffffff;
}
footer li{
	//display: block;
	padding: 0 10px;
}
// footer>div{
// 	width: 33%;
// }
footer a{
	color: #ffffff;
}
footer a:hover{
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}
/*  Media queries for responsiveness - 
        Breakpoints where content seems to like them, not trying to follow device width trends
        600px - 1019px
        >= 1020px
*/
@media screen and (min-width: 600px) {

   
    .bg{width: 601px;
        margin: auto;
        left:0;
        right:0;
    }
    #title-box {
        padding-top: 4rem;
    }
    #title-box-bg header{
        display: block;
    }
    #tagline h1{
        display: none;
    }
    #tagline {
        //top: 10px; 
        width:52%; 
        display: table-cell; 
        padding: 0 30px;
        //text-align: left;
        top: 40px; 
        font-size: 1.6rem; 
        line-height: 2rem;
    }

    #tagline blockquote{
        margin: 0;
    //quotes: "\201C""\201D""\2018""\2019";
    }
    #tagline blockquote:before {
        display: inline;
        content: "\201C";
        font-size: 60px;
        position: absolute;
        left: -5px;
        //top: -20px;
        font-family: 'sancreekregular';
    }
    #tagline blockquote:after {
        display: block;
        content: "\201D";
        font-size: 60px;
        position: absolute;
        right: 15px;
        bottom: 60px;
        font-family: 'sancreekregular';
    }
}
/* THis seems to be the breakpoint for the bootstrap menu to collapse */
@media screen and (min-width: 765px) {
	main{
        //max-width:90%;
        //	width: 66%;  //needed ?
        margin: 0 auto;
    }
    main{
    	//float: left;
    }
    #site-wrapper{
		width:88%;
		margin: 0 auto;
	}
	#title-box-bg{
		max-width: 90%;
		margin: 0 auto;
	}
	 #social_bar {
        right: 2px;
    }
    #social_bar i{
        font-size: 3rem;  /* to override .zmdi style in iconic font.css */
    }
    footer li{
		display: block;
		padding: 0;
	}
}
@media screen and (min-width: 1020px) {


}





